[submodule "src/driver/sensor/gps_driver"]
	path = src/driver/sensor/gps_driver
	url = https://github.com/zsx-star/gps_driver.git
[submodule "src/rtcm3.2"]
	path = src/rtcm3.2
	url = https://github.com/CastielLiu/rtcm3.2.git
[submodule "src/av_op"]
	path = src/av_op
	url = https://github.com/CastielLiu/av_console.git
[submodule "src/driver/sensor/livox_ros_driver"]
	path = src/driver/sensor/livox_ros_driver
	url = https://github.com/zsx-star/livox_ros_driver.git
[submodule "src/driver/sensor/lslidar_c16"]
	path = src/driver/sensor/lslidar_c16
	url = https://github.com/zsx-star/lslidar_c16.git
[submodule "src/lidar_detect"]
	path = src/lidar_detect
	url = https://github.com/zsx-star/lidar_detect.git
[submodule "src/msgs/pathplan_msgs"]
	path = src/msgs/pathplan_msgs
	url = https://github.com/zsx-star/pathplan_msgs.git
