[Desktop Entry]
Version=1.0
Name=物流车
Comment=myqtapp
Exec=/home/robot/logistics_ws/src/ui/smartcar
Icon=/home/robot/logistics_ws/src/ui/car.jpg
Terminal=false
Type=Application
Categories=Application;
StartupNotify=true
X-Desktop-File-Install-Version=0.22
