[Desktop Entry]
Type=Application
Exec=bash -i -c /home/zsx/logistics_ws/src/ui/smartcar
Name=物流车
GenericName=物流车
Icon=/home/zsx/logistics_ws/src/ui/car.jpg
Terminal=false
Categories=Development
