<!-- -->

<launch>
	<node name="euclidean_cluster" pkg="euclidean_cluster" type="euclidean_cluster_node" output="screen">
                                   
		<param name="in_points"  type="string"  value="/livox/lidar"/> 
		<param name="obj_pub"  type="string"  value="/detected_bounding_boxs"/> 
		<param name="min_dis_obj"  type="string"  value="/min_dis_obj"/>
		<param name="obj_offset"  type= "string"  value="/obj_offset"/>
		
		<param name="use_threshold_filter"  type="bool"  value="true"/>  
		<param name="y_max"  type="double"  value="8"/>
		<param name="y_min"  type="double"  value="-8"/>
		<param name="x_max"  type="double"  value="20.0"/>
		<param name="x_min"  type="double"  value="0"/>
		<param name="z_max"  type="double"  value="2.3"/>
		<param name="z_min"  type="double"  value="-0.1"/>

		<param name="min_cluster_size"  type="int"  value="10"/>
		<param name="max_cluster_size"  type="int"  value="50000"/>
		
		<!-- 是否发布滤波后的最近障碍物距离消息 -->
		<param name="is_min_dection_long"  type="bool"  value="true"/>
		<!--估计位姿-->
		<param name="pose_estimation"  type="bool"  value="true"/>  
		<param name="use_downsample"  type="bool"  value="true"/>   
		

	</node>

</launch>


