<!-- -->
<launch>
<!--	标定GPS航向角,找到GPS主机与载体坐标系之间的误差,并需要在上位机调试软件里面标定head offset-->
	<arg name="file_name" default="path" />

	<node name="calibrate_gps_node" pkg="recorder" type="calibrate_gps_node" output= "screen">
		<param name="sample_distance" value="0.1" />
		<param name="utm_topic" value="/ll2utm_odom" />
	</node>
	
	<node name="nuogeng_node" pkg="nuogeng" type="nuogeng_node" output="screen">
		<param name="port_name" value="/dev/gps"/>
		<param name="is_ll2utm" value="true"/>
		<param name="odom_topic" value="/ll2utm_odom"/>
		<param name="pub_odom" value="true"/>
	</node>
	
</launch>


