<!-- -->
<launch>

	<arg name="gps_port" default="/dev/ttyUSB0"/>
	<arg name="file_name" default="path.txt" />
	<arg name="max_speed" default="-3" />
	<arg name="rate" default="30" />
	<arg name="delay_time" default="0.3" />
	
	
	<node name="path_tracking" pkg="planning" type="path_track" output="screen">
	
		<param name="path_points_file" value="$(find recorder)/data/$(arg file_name)"/>
		<param name="min_foresight_distance" value="4"/>
		<param name="max_side_accel" value="1.5"/>
		
		<param name="foreSightDis_speedCoefficient" value = "0.3"/>
		<param name="foreSightDis_latErrCoefficient" value = "1.0"/>
		
		<param name="omega" value="10.0"/>		
		<param name="steer_clearance" value = "0.8"/>  		<!-- 转向间隙 -->
		<param name="steer_offset" value = "0.5"/>     		<!-- 转角补偿 -->
		<param name="Ki" value = "0.5"/>			   		<!-- PID-I -->
		<param name="tolerate_laterror" value = "0.05"/>	<!-- 容忍横向偏差 -->
		<param name="speed" value="$(arg max_speed)"/>
		<param name="control_rate" value="$(arg rate)"/>		<!-- Hz -->
		<param name="timeout" value="$(arg delay_time)"/>	<!-- 障碍物时延 -->
		
		<param name="odom_topic" value="/ll2utm_odom"/>
		<param name="car_state" value="/car_state"/>
		<param name="car_goal" value="/car_goal"/>
		
		<param name="is_object" value="/min_dis_obj"/>
		<param name="is_offset" value="/obj_offset"/>
		<param name="is_offset_" value="false"/>
		<param name="is_back" value="true"/>
				
	</node>
	
	<!-- 上位机给下位机发送消息命令 -->
	
	<node pkg="pc_stm32" type="talk_stm32" name="talker_node"  >

		<param name="car_goal" value="/car_goal" />
		<param name="port_name" value="/dev/ttyUSB1" />
		<param name="baudrate" value="115200" />
		
	</node>
	
	<node name="record_node" pkg="recorder" type="record_node" >
		<param name="file_path" value="$(find recorder)/data/"/>
		<param name="file_name" value="$(arg file_name)_res.txt"/>
		<param name="sample_distance" value="0.1" />
		<param name="utm_topic" value="/ll2utm_odom" />
	</node>
	<!-- 
	<node name="nuogeng_node" pkg="nuogeng" type="nuogeng_node" output="screen">
		<param name="port_name" value="/dev/ttyUSB2"/>
		<param name="is_ll2utm" value="true"/>
		<param name="odom_topic" value="/ll2utm_odom"/>
		<param name="parent_frame_id" value="world"/>
		<param name="child_frame_id" value="gps"/>
		<param name="pub_odom" value="true"/>
		<param name="pub_tf" value="false"/>
		
	</node>
	-->
	<node name="daoyuan" pkg="daoyuan" type="daoyuan" output="screen">
		<param name="port_name" value="$(arg gps_port)"/>
		<param name="baudrate" value="230400"/>
		<param name="is_ll2utm" value="true"/>
		<param name="odom_topic" value="/ll2utm_odom"/>
		<param name="pub_odom" value="true"/>
		
		
	</node>
	

	
	
</launch>
