<!-- -->
<launch>

	<arg name="file_name" default="path" />
	<arg name="port" default="/dev/gps"/>
	
	<node name="record_node" pkg="recorder" type="record_node" output= "screen">
		<param name="file_path" value="$(find recorder)/data/"/>
		<param name="file_name" value="$(arg file_name).txt"/>
		<param name="sample_distance" value="0.1" />
		<param name="utm_topic" value="/slam_fused_odom" />
	</node>
<!--	
	<node name="nuogeng_node" pkg="nuogeng" type="nuogeng_node" output="screen">
		<param name="port_name" value="/dev/ttyUSB0"/>
		<param name="is_ll2utm" value="true"/>
		<param name="odom_topic" value="/ll2utm_odom"/>
		<param name="pub_odom" value="true"/>
	</node>  -->
	
	<!--
	<node name="daoyuan" pkg="daoyuan" type="daoyuan" output="screen">
		<param name="port_name" value="$(arg port)"/>
		<param name="baudrate" value="230400"/>
		<param name="is_ll2utm" value="true"/>
		<param name="odom_topic" value="/ll2utm_odom"/>
		<param name="pub_odom" value="true"/>
		
		
	</node>
	-->
	
</launch>


